.c-btn__base, .c-btn__caution, .c-btn__base--blue {
  background-color: #fff;
  color: #4a4a4a;
  cursor: pointer;
  font-size: 13px;
  padding: 0px 15px;
  border: solid 1px #ccc;
  border-radius: 4px;
  position: relative; }

.c-btn__icon {
  position: relative;
  bottom: 2px;
  right: 6px; }

.c-btn__area, .c-btn__area--topLine {
  padding: 15px 0;
  text-align: center; }

.c-btn__area--topLine {
  border-top: solid 1px #ddd; }

.c-btn__caution {
  border-color: #e61345;
  color: #e61345; }

.c-btn__rounded {
  border-radius: 4px;
  display: inline-block;
  text-decoration: none; }

.c-btn__ellipse {
  border-radius: 20px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer; }

.c-btn__size--middle {
  padding: 9px 16px;
  font-size: 14px;
  min-width: 110px; }

.c-btn__size--small {
  padding: 6px 7px;
  font-size: 11px;
  min-width: 105px; }

.c-btn__size--tiny {
  padding: 5px 9px;
  font-size: 11px; }

.c-btn__textPosition--center {
  text-align: center; }

.c-btn__color--a {
  color: #fff;
  background-color: #1abc9c; }
  .c-btn__color--a:hover {
    background-color: #16a085;
    color: #fff; }

.c-btn__color--b {
  color: #fff;
  background-color: #3498db; }
  .c-btn__color--b:hover {
    background-color: #2b7399; }

.c-btn__color--c {
  color: #fff;
  background-color: #e61345; }

.c-btn__color--d {
  color: #1abc9c;
  background-color: #fff;
  border: solid 1px #1abc9c; }
  .c-btn__color--d:hover {
    color: #16a085;
    border: solid 1px #16a085; }

.c-btn__color--d {
  color: #1abc9c;
  border: solid 1px #1abc9c; }
  .c-btn__color--d:hover {
    color: #16a085;
    border: solid 1px #16a085; }

.c-btn__color--e {
  color: #4a4a4a;
  border: solid 1px #cccccc; }
  .c-btn__color--e:hover {
    border: solid 1px #3498db; }

.c-btn__color--f {
  color: #bbbbbb;
  background-color: #eeeeee; }
  .c-btn__color--f:hover {
    color: #ffffff;
    background-color: #aaaaaa; }

.c-btn__upload {
  background-color: #f6f6f6;
  border: solid 1px #ccc;
  border-radius: 4px;
  display: inline-block;
  font-size: 13px;
  padding: 10px;
  min-width: 120px;
  height: 40px;
  text-align: center; }
  .c-btn__upload > input {
    display: none; }
  .c-btn__upload:hover {
    background-color: #e7e7e7; }

.c-btn__base--blue {
  color: #3498db;
  border-color: #3498db; }

.c-btn--add {
  background: #fff url("../images/icon-add.svg") no-repeat 5%;
  padding-left: 25px;
  height: 40px; }

.c-btn--delete {
  background: #fff url("../images/icon-delete.svg") no-repeat no-repeat 5%;
  padding-left: 25px;
  height: 40px; }
