//-----------------------------
//inputやtextareaのスタイル
//-----------------------------

.c-inputText {
  background-color: #fff;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  height: 40px;
}

.c-inputText--narrow {
  @extend .c-inputText;
  height: 40px;
}
